.loginDiv h2 {
    margin-bottom: 30px;
}


input{
    transition: 0.3s ease;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 100px;
    padding: 15px;
    width: 100%;
    max-width: 360px;
    
}

.submitButton{
    transition: 0.3s ease;
    border: none;
    outline: none;
    background-color: var(--darkBlue);
    color: var(--lighterWhite);
    border-radius: 100px;
    padding: 15px;
    width: 100%;
    max-width: 320px;
    cursor: pointer;

}

.submitButton:hover{
    max-width: 330px;
}

input:focus {
    max-width: 370px;
}

.inputDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.linkDiv{
    display: flex;
    justify-content: right;
    width: 100%;
    max-width: 350px;
    margin-bottom: 10px;
}

.loginRegisterForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.loginDiv{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.theOtherDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--vineRed);
    background-position: center;
    width: 50%;
}
