
*{
    padding: 0;
    margin: 0;
    color: var(--black);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a{
    font-size: 18px;
}

h1{
    font-size: 25px;
}

h2{
    font-size: 23px;
}

.frameDiv{
    display: flex;
    justify-content: center;
    background-image: url('/mountainPicture3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 500px;
    
}

.mainDiv{
    max-width: 1400px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.rest {
    height: 100vh;
    background-color: #f2f2f2;
}