.background{
    transition: ease 0.3s;
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 10px;
    background-color: var(--lighterWhite);
    border-radius: 10px;
    margin-right: 10px;
    
}

.titleCard{
    display: flex;
    align-items: center;
    height: 75px;
    margin-bottom: 10px;
    background-color: var(--vineRed);
    border-radius: 10px;
}

.titleCard h1 {
    color: var(--lighterWhite);
}

.titleInlineCard{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px;
}

.background:hover {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    background-color: var(--hoverWhite);
}

.trailContentDiv {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    margin: 10px;
}

.trailListDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33.3333333%;
    height: 100%;
}

.trailListInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.createDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 540px;
    background-color: var(--lighterWhite);
    border-radius: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    
}


.createTrailInline{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
    height: 520px;
    width: 100%;
}
