:root {
    --white: #ffffff;
    --lighterWhite:#ebebeb;
    --lightWhite: #cfcfcf;
    --hoverWhite: #e6e6e6;
    --black: #000000;
    --lighWhite: #dddddd;
    --vineRed: #732036;
    --darkerRed: #401A2F;
    --darkerGray: #64758C;
    --lightGray: #8090A6;
    --darkBlue: #081826;

    --mainPictureHeight: 500px;
    --headerHeight: 5rem;
    --contentWith: 1500px;

    --spaceHeight: 275px;
    --bigSpaceHeight: calc(var(--mainPictureHeight) - var(--headerHeight));


  }